<div id='footer' class='content smalltext'>
    <table>
        <tr>
            <td><img id="bc-char" src="/bc-char.gif" alt="bc -- blinkies.cafe">&nbsp;&nbsp;</td>
            <td>(c) blinkies.cafe.<br>
            original blinkies <a href='https://creativecommons.org/licenses/by/4.0/' target="_blank" rel="noopener">CC BY</a>.<br>
            <a href='/privacy.txt' target="_blank" rel="noopener">privacy policy</a>.<br>
            by amy &#60;3</td>
        </tr>
    </table>
</div>
</body>
</html>