<!DOCTYPE html>
<style>
h1,h2,.blinkieLinkHolder,label,select,option,body,button {
  font-family: "Consolas", "Hack", "Liberation Mono", monospace;
}
#title {
  margin-top:18px;
  font-size: 16pt;
}
#navbar {
    font-size:12pt;
    margin-top:6px;
}
#footer,#blinkieLinkHolder{
  font-size: 8pt;
}
body {
  background-color:#b28ce6;
  line-height: 1.15;
  font-size: 10pt;
    font-family: "Consolas", "Hack", "Liberation Mono", monospace;
}

#blinkieLinkHolder {
    margin:0px;
}
.content {
    background-color:#c9b3e6;
    margin: 0px auto 0px auto;
    padding: 4px;
}
#title, #navbar {
    width:240px;
    text-align: center;
    font-weight: bold;
}
#submitbtn {
    font-size:10pt;
    margin-top: 4px;
    height:22px;
    padding-top:0px;
    padding-bottom:0px;
}
#blinkieGenHolder, #footer {
    margin-top:18px;
    text-align:left;
    width:95%;
    max-width:325px;
}
#blinkieText {
    width:200px;
    overflow:hidden;
    resize:none;
    margin-bottom: -6px;
    padding-left:4px;
    padding-top:1px;
    padding-bottom:1px;
    padding-right:4px;
}
#blinkieStyle {
    width:210px;
}
hr {
    width:325px;
}
</style>
<html lang="en">
<head>
  <title>blinkies.cafe | pour</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='description' content='generate custom blinkie gifs!'>
  <link rel="canonical" href="https://blinkies.cafe/pour">
</head>
<body>
<h1 style="display:none">generate custom blinkie gifs</h1>
<div id='title' class='content'>
blinkies.cafe
</div>
<div id='navbar' class='content'>
        <a href='/'>home</a> | generate | <a href='/about'>about</a><br>
</div><hr>
<div id='blinkieGenHolder' class='content'>
generate custom blinkie graphics!<br><br>
<form id='blinkieForm'>
text:  &nbsp;<textarea placeholder='your text here!' name='blinkieText' id='blinkieText' rows=1 wrap='off'></textarea><br>
<div style='margin-top: 6px;'>style: <select name="blinkieStyle" id="blinkieStyle">
    <%
    if (defaultStyleIndex) {
        %><option value="<%=defaultStyleIndex%>"><%=defaultStyleName%></option><%
    }%>
</select>
</div>
<button type='submit' id='submitbtn'>generate!!</button>
</form><br>
<img id='blinkieGIF' src='/b/display/<%=defaultStyleID%>.gif' alt='generated blinkie'><br>
<p id='blinkieLinkHolder'><br><br></p>
</div>
<div id='footer' class='content'>
    <a href='/sources'>gif & font sources</a><br>(c) blinkies.cafe<br>blinkies are CC0<br>by amy fare &#60;3
</div>
</body>
</html>
<script src='/blinkiegen.js' type='module'></script>
