<%- include('components/head.ejs', {path: "blog", title: "blinkie thoughts: the blinkies.cafe blog", description: "articles on blinkie creation, software development, and digital ephemera in general."}) %>
<div class='content'>
    <h1>blinkie thoughts</h1>
</div>
<div class='content'>
    <b>2023-01-02:</b> <a href='/blog/2023-01-02-seeking-love-templates'>Seeking "Love" blinkie templates!</a><br><br>
    <b>2022-12-18:</b> <a href='/blog/2022-12-18-blinkie-packs'>blinkies.cafe template releases are changing!</a><br><br>
    <b>2022-10-29:</b> <a href='/blog/2022-10-29-pixel-font-symbols'>Hidden symbols in blinkies.cafe fonts!</a><br><br>
    <b>2022-06-06:</b> <a href='/blog/2022-06-06-recent-blinkies-feed'>Recent Blinkies Feed out now!</a><br><br>
    <b>2022-05-14:</b> <a href='/blog/2022-05-14-how-to-make-blinkies'>How to Make Blinkies in Paint</a><br><br>
</div>
<%- include(global.appRoot + '/views/pages/components/footer.html') %>
