<!DOCTYPE html>
<html lang="en">
<head>
  <title>blinkie maker | error 404</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='description' content='blinkie maker - 404 page not found'>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div id='banner' class='content'>
    blinkies.cafe
    </div>
    <div id='navbar' class='content'>
            <a href='/'>generator</a> | <a href='/archive'>archive</a><br>
    </div><hr>
<div class='content'>
<h1>error 404!</h1>
</div>
<%- include('components/footer.html') %>
</body>
</html>
