<!DOCTYPE html>
<style>
h1 {
  font-family: Consolas,monospace;
}
h2 {
  font-family: Consolas,monospace;
  font-size: 16pt
}
p {
  font-family: Consolas,monospace;
}
.footer{
  font-family: Consolas,monospace;
  font-size: 8pt;
}
label {
  font-family: Consolas,monospace;
}
select {
  font-family: Consolas,monospace;
}
option {
  font-family: Consolas,monospace;
}
input {
  font-family: Consolas,monospace;
}
button {
  font-family: Consolas,monospace;
}
</style>
<html lang="en">
<head>
  <title>blinkies.cafe</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta name='description' content='Fun and useful data generators and APIs!'>
</head>
<body style='margin-top: 40px; margin-left: 40px'>
<h2><a href='/'>blinkies.cafe<br>=============</h2>
<h2>error 404!</h2>
<p class='footer'>(c) blinkies.cafe</p>
</body>
</html>
