<!DOCTYPE html>
<style>
body {
    font-family: "Consolas", "Hack", "Liberation Mono", monospace;
    background-color:#b28ce6;
    line-height: 1.15;
    font-size: 10pt;
    overflow-y: scroll;                          /* show vertical scrollbar */
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: #822ed6;
  border-radius: 20px;
}
hr {
    width:325px;
    margin-top:18px;
}
h1, h2 {
    text-align: center;
    margin: 0px;
    font-size: 12pt;
}
h2 {
    font-weight:normal;
    text-decoration: underline;
}
p,ul {
    font-family:"Segoe UI","Liberation Sans",sans-serif;
    font-size:12pt;
    line-height: 1.15;
    margin:0px;
}
li {
    margin-top: 5px;
}
.blinkie {
    width:  150px;
    height: 20px;
    margin: 2px 6px 2px 6px;
}
.content {
    background-color:#c9b3e6;
    margin:     18px auto 0px auto;
    padding:    4px;
    text-align: left;
    width:      95%;
    max-width:  500px;
}
#banner, #navbar {
    width:240px;
    text-align:center;
    font-weight:bold
}
#banner {
  font-size: 16pt;
}
#footer {
  font-size: 8pt;
}
#gallery {
  text-align:center;
}
#navbar {
    font-size:12pt;
    margin-top:6px;
}
</style>
<html lang="en">
<head>
  <title>blinkies maker | generate blinkie gifs with custom text!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='description' content="make your own blinkies! browse blinkie styles and add any text you want. blinkies are tiny gifs; they're great badges for your site, stream, blog, or messages. blinkies were popular decorations in early-2000s Geocities-era personal websites.">
  <link rel="canonical" href="https://blinkies.cafe/">
</head>
<body>
<div id='banner' class='content'>
blinkies.cafe
</div>
<div id='navbar' class='content'>
        gallery | <a href='/archive'>archive</a><br>
</div><hr>
<div class='content'>
    <h1>make your own blinkies</h1>
</div>
<div id='gallery' class='content'>
    click to add custom text to any of these blinkie styles!<br><br>

    <%
    for (const [key, value] of Object.entries(styleList)) {
        %><a href="/pour?s=<%=key%>"><img src="/b/display/<%=key%>.gif" alt="<%=value.name%> blinkie" class="blinkie"></a><%
    }
    %>

<br><br>
new blinkies added weekly!
</div>
<hr>
<br>
<div class='content'>
<h2>about blinkie gifs</h2><br>
<p>
pretend it's 1999! customize retro blinkie graphics!<br><br>
blinkies are tiny, 150x20-pixel animated gifs used as badges to share interests and tell jokes! they were popular decorations in early-2000s Geocities-era personal websites.
<br><br>
blinkies.cafe is a tool to <b>generate custom blinkies</b>, choosing from a variety of styles and adding whatever text you like!
<br><br>
blinkies are great for:
</p>
<ul>
<li>badges for your website or blog, to show off your interests!</li>
<li>eye-catching links on your streaming page!</li>
<li>fun, sparkly messages in chat apps!</li>
<li>flashy email &#38; forum signatures!</li>
</ul><br>
<p>
also check out the <a href='https://chrome.google.com/webstore/detail/blinkiescafe/eopblkihdgjjlipjpdjpekabokhlenoo' target='_blank' rel="noopener">blinkies maker chrome extension</a> !!
<br><br>
blinkies.cafe is in active development.<br><br>
enjoy~
</p>
</div>
<div class='content'>
<h2>what's new</h2><br>
<ul>
    <li><b>2022-02-01:</b> added "Starry Eyes!" blinkie!</li>
    <li><b>2022-01-29:</b> added "download blinkie" button</li>
    <li><b>2022-01-28:</b> added gallery view to chrome extension</li>
    <li><b>2022-01-24:</b> added "good kisser" blinkie!</li>
    <li><b>2022-01-24:</b> added "frog friend" blinkie!</li>
    <li><b>2022-01-22:</b> created archive page with archived copies of gifs from the web, and links to their original sources.</li>
    <li><b>2022-01-18:</b> added "mushroom boy" blinkie!</li>
    <li><b>2022-01-12:</b> changed homepage to a gallery view of all the blinkie styles.</li>
</ul>
</div>
<div class='content'>
<h2>planned features</h2><br>
<ul>
    <li>add a "scale" option to the blinkie generator, to output 2x, 4x, and 8x scale gifs.</li>
        <ul>
            <li>this will solve resolution-related problems including antialiasing and minimum pixel requirements in chat apps. <strike><i>(Big Tech doesn't understand the joy of 150x20px)</i></strike></li>
        </ul>
    <li>add an "advanced mode" blinkie generator with more customizability:</li>
        <ul>
            <li>choose any text colour.</li>
            <li>generate simple blinkies with any colours.</li>
            <li>choose dimensions: generate shorter and/or wider gifs.</li>
        </ul>
    <li>develop a blinkies twitter bot that posts blinkies hourly. the blinkies could have random styles &#x26; text, and/or use style-based wordlists.</li>
    <li>generate blinkies with 3-frame (&#x26; longer) animations.</li>
    <li>publish blinkie generator bash scripts.</li>
</ul>
</div>
<div class='content'>
<h2>technical details</h2><br>
<p>we are proud to pour fresh blinkies <a href='https://xkcd.com/2347/' target="_blank" rel="noopener">using</a> <a href='https://imagemagick.org' target="_blank" rel="noopener">imagemagick</a>. our api &#38; web app is built using <a href='https://nodejs.org/en/' target="_blank" rel="noopener">node.js</a> and <a href='https://expressjs.com/' target="_blank" rel="noopener">express</a>, with <a href='https://ejs.co/' target="_blank" rel="noopener">ejs</a> template engine.
    it's built as a <a href='https://www.docker.com/' target="_blank" rel="noopener">docker image</a> using <a href='https://alpinelinux.org/' target="_blank" rel="noopener">Alpine Linux</a><br><br>
blinkies.cafe started development circa 2021. it is not expected to break in y2k. time will tell?
</p>
</div>
<div id='footer' class='content'>
    (c) blinkies.cafe.<br>original blinkies CC0.<br>by amy fare &#60;3
</div>
</body>
</html>
