<!DOCTYPE html>
<html lang="en">
<head>
  <title>blinkie thougts: the blinkies.cafe blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='description' content='articles on blinkie creation, software development, and digital ephemera in general.'>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="canonical" href="https://blinkies.cafe/halloween">
  <link rel="stylesheet" type="text/css" href="/event/halloween2022.css">
  <meta name="theme-color" content="#4e3075">
</head>
<body>
    <div id='banner' class='content'>
    blinkies.cafe
    </div>
    <div id='navbar' class='content'>
        <a href='/'>generator</a> | blog | <a href='/archive'>archive</a><br>
    </div><hr>
    <div class='content'>
        Under construction (I'm sorry)
    </div>
    <div class='content'>
        there will be blinkies
    </div>
    <div class='content'>
        <center id="tiles">
            <a rel="nofollow" href="/?s=0211-ghostorange"><img src="/b/display/0211-ghostorange.gif" alt="BOO!!! hehe blinkie" loading="lazy" class="blinkie blinkieTile"></a><a rel="nofollow" href="/?s=0195-raven"><img src="/b/display/0195-raven.gif" alt="Edgar Allan's Foe blinkie" loading="lazy" class="blinkie blinkieTile"></a>
            <a rel="nofollow" href="/?s=0188-knifechainsaw"><img src="/b/display/0188-knifechainsaw.gif" alt="I <3 VIOLENCE blinkie" loading="lazy" class="blinkie blinkieTile"></a><a rel="nofollow" href="/?s=0182-halloweencathouse"><img src="/b/display/0182-halloweencathouse.gif" alt="Happy Halloween blinkie" loading="lazy" class="blinkie blinkieTile"></a>
            <a rel="nofollow" href="/?s=0167-saw"><img src="/b/display/0167-saw.gif" alt="GAS GAS GAS blinkie" loading="lazy" class="blinkie blinkieTile"></a><a rel="nofollow" href="https://blinkies.cafe/?s=0165-jennifersbody"><img src="/b/display/0165-jennifersbody.gif" alt="I am a god blinkie" loading="lazy" class="blinkie blinkieTile"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0164-bloodylips"><img src="/b/display/0164-bloodylips.gif" alt="Hell is a teen girl blinkie" loading="lazy" class="blinkie blinkieTile"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0003-ghost"><img src="/b/display/0003-ghost.gif" alt="Spooky vibes only!! blinkie" loading="lazy" class="blinkie blinkieTile"></a><a rel="nofollow" href="https://blinkies.cafe/?s=0021-vampirefangs"><img src="/b/display/0021-vampirefangs.gif" alt="Blood-Sucker blinkie" loading="lazy" class="blinkie blinkieTile"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0210-werewolfmoonhowl"><img src="/b/display/0210-werewolfmoonhowl.gif" alt="Awoooooooooooo blinkie" loading="lazy" class="blinkie blinkieTile"></a><a rel="nofollow" href="https://blinkies.cafe/?s=0125-blood"><img src="/b/display/0125-blood.gif" alt="thirsty? blinkie" loading="lazy" class="blinkie blinkieTile"></a>
        </center>
    </div>
<%- include(global.appRoot + '/views/pages/components/footer.html') %>
</body>
</html>
