<!DOCTYPE html>
<html lang="en">
<head>
  <title>the blinkie wall</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <meta name="theme-color" content="#4e3075">
</head>
<body>
    <div id='banner' class='content'>
    blinkies.cafe
    </div>
    <div id='navbar' class='content'>
        <a href='/'>generator</a> | <a href='/blog'>blog</a> | <a href='/archive'>archive</a><br>
    </div><hr>
<div class='content'>
    <h1>the blinkie wall</h1>
</div>
<div class='content'>
    <center>
    <div id='gallery' type='text' style='position:relative; z-index:0; visibility:'>
        click a blinkie to customize c:<br>
        <center id='tiles'>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0190-hittingfloor"><img src="/b/display/0190-hittingfloor.gif" alt="FUCK MY LIFE! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0189-whale"><img src="/b/display/0189-whale.gif" alt="Havin a whale of a time blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0188-knifechainsaw"><img src="/b/display/0188-knifechainsaw.gif" alt="I <3 VIOLENCE blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0187-transparentsparkle"><img src="/b/display/0187-transparentsparkle.gif" alt="bro ur sparkling blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0186-angelsmiley"><img src="/b/display/0186-angelsmiley.gif" alt="me? naughty? neverr blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0179-kittencry"><img src="/b/display/0179-kittencry.gif" alt="want  kibbles... blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0182-halloweencathouse"><img src="/b/display/0182-halloweencathouse.gif" alt="Happy Halloween blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0184-pastelpinkrainbow"><img src="/b/display/0184-pastelpinkrainbow.gif" alt="Strawberry Sundae blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0183-pastelpinkwings"><img src="/b/display/0183-pastelpinkwings.gif" alt="Pastel Angel blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0180-happybirthday"><img src="/b/display/0180-happybirthday.gif" alt="happy birthday!!! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0181-confetti"><img src="/b/display/0181-confetti.gif" alt="Congratulations!! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0178-mikuwink2"><img src="/b/display/0178-mikuwink2.gif" alt="Miku fan!! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0160-pupgender"><img src="/b/display/0160-pupgender.gif" alt="pupgender pride blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0177-splatoonoctolingyellow"><img src="/b/display/0177-splatoonoctolingyellow.gif" alt="u octopi my <3 blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0176-splatoonoctolinggreen"><img src="/b/display/0176-splatoonoctolinggreen.gif" alt="octolicious blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0175-splatoonoctolingorange"><img src="/b/display/0175-splatoonoctolingorange.gif" alt="octo time :) blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0174-hal9000"><img src="/b/display/0174-hal9000.gif" alt="I'm sorry Dave, I'm afraid I can't do that. blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0173-dollbrowneyes"><img src="/b/display/0173-dollbrowneyes.gif" alt="bishoujo blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0172-rainbowequalizer"><img src="/b/display/0172-rainbowequalizer.gif" alt="SCENE KID! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0171-jerma"><img src="/b/display/0171-jerma.gif" alt="JERMA985 blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0142-virusgender"><img src="/b/display/0142-virusgender.gif" alt="i'm a virus blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0170-bigender"><img src="/b/display/0170-bigender.gif" alt="bigender pride blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0169-topsurgery"><img src="/b/display/0169-topsurgery.gif" alt="top surgery :D blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0143-webkinz"><img src="/b/display/0143-webkinz.gif" alt="Webkinz blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0168-catgender"><img src="/b/display/0168-catgender.gif" alt="you know, like *nya* blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0163-cherry"><img src="/b/display/0163-cherry.gif" alt="cherry flavoured love blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0162-cherry"><img src="/b/display/0162-cherry.gif" alt="cherry kisses blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0161-genderqueer"><img src="/b/display/0161-genderqueer.gif" alt="genderqueer pride blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0152-honeyslime"><img src="/b/display/0152-honeyslime.gif" alt="sweet as honey blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0166-finfin"><img src="/b/display/0166-finfin.gif" alt="fin fin come see him blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0167-saw"><img src="/b/display/0167-saw.gif" alt="GAS GAS GAS blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0165-jennifersbody"><img src="/b/display/0165-jennifersbody.gif" alt="I am a god blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0164-bloodylips"><img src="/b/display/0164-bloodylips.gif" alt="Hell is a teen girl blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0150-alligator"><img src="/b/display/0150-alligator.gif" alt="cya later alligator! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0140-hsroxy"><img src="/b/display/0140-hsroxy.gif" alt="rogue of void blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0139-robotgender"><img src="/b/display/0139-robotgender.gif" alt="my gender is robot lol blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0138-greenglow"><img src="/b/display/0138-greenglow.gif" alt="I Glow in the Dark blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0159-toontrap"><img src="/b/display/0159-toontrap.gif" alt="i love trap gags blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0158-toonup"><img src="/b/display/0158-toonup.gif" alt="i love toon-up blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0157-toonzap"><img src="/b/display/0157-toonzap.gif" alt="i love zap gags blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0156-toonlure"><img src="/b/display/0156-toonlure.gif" alt="i love lure blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0155-toondrop"><img src="/b/display/0155-toondrop.gif" alt="i love drop gags blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0154-toonsound"><img src="/b/display/0154-toonsound.gif" alt="i love sound blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0153-toonsquirt"><img src="/b/display/0153-toonsquirt.gif" alt="i love squirt blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0151-toonthrow"><img src="/b/display/0151-toonthrow.gif" alt="i love throw blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0148-kirbyswim"><img src="/b/display/0148-kirbyswim.gif" alt="just keep swimming blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0147-kirbywalk"><img src="/b/display/0147-kirbywalk.gif" alt="im walkin here!!! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0146-kirbydance"><img src="/b/display/0146-kirbydance.gif" alt="best buds blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0145-kirbysquish"><img src="/b/display/0145-kirbysquish.gif" alt="ow ow ow blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0144-pokeball"><img src="/b/display/0144-pokeball.gif" alt="I choose you!! <3 blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0141-digigender"><img src="/b/display/0141-digigender.gif" alt="i'm digital blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0136-clock"><img src="/b/display/0136-clock.gif" alt="This user is time blind blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0137-catgender"><img src="/b/display/0137-catgender.gif" alt="you know, like *nya* blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0149-ty"><img src="/b/display/0149-ty.gif" alt="I /heart beanie babies blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0135-pinkiepie"><img src="/b/display/0135-pinkiepie.gif" alt="Pinkie Pie blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0134-fluttershy"><img src="/b/display/0134-fluttershy.gif" alt="Fluttershy blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0133-applejack"><img src="/b/display/0133-applejack.gif" alt="Applejack blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0132-rainbowdash"><img src="/b/display/0132-rainbowdash.gif" alt="Rainbow Dash blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0131-rarity"><img src="/b/display/0131-rarity.gif" alt="Rarity blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0130-twilightsparkle"><img src="/b/display/0130-twilightsparkle.gif" alt="Twilight Sparkle blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0129-splatoon3"><img src="/b/display/0129-splatoon3.gif" alt="Splatoon 3 blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0128-splatoon2"><img src="/b/display/0128-splatoon2.gif" alt="Splatoon 2 blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0127-splatoon1"><img src="/b/display/0127-splatoon1.gif" alt="Splatoon! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0126-slime"><img src="/b/display/0126-slime.gif" alt="slime girl blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0125-blood"><img src="/b/display/0125-blood.gif" alt="thirsty? blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0124-stars"><img src="/b/display/0124-stars.gif" alt="stargazer blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0123-glitterpink"><img src="/b/display/0123-glitterpink.gif" alt="never stop sparkling! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0122-hsbreath"><img src="/b/display/0122-hsbreath.gif" alt="heir of breath blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0121-blinkiescafe"><img src="/b/display/0121-blinkiescafe.gif" alt="blinkies.cafe <3 blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0120-starofdavid"><img src="/b/display/0120-starofdavid.gif" alt="Star of David blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0119-pastelstars"><img src="/b/display/0119-pastelstars.gif" alt="twinkle twinkle blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0118-rubberducky"><img src="/b/display/0118-rubberducky.gif" alt="YOU QUACK ME UP! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0117-redlightsaber"><img src="/b/display/0117-redlightsaber.gif" alt="*SITH*   blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0116-debian"><img src="/b/display/0116-debian.gif" alt="powered by debian blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0115-alpinelinux"><img src="/b/display/0115-alpinelinux.gif" alt="runs on alpine blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0114-tbh"><img src="/b/display/0114-tbh.gif" alt="autism! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0113-autism"><img src="/b/display/0113-autism.gif" alt="Autism! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0112-peep"><img src="/b/display/0112-peep.gif" alt="Luv my peeps blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0111-glittergold"><img src="/b/display/0111-glittergold.gif" alt="ur Princess xoxo blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0110-yeah"><img src="/b/display/0110-yeah.gif" alt="I have social anxiety blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0109-gradientgreen"><img src="/b/display/0109-gradientgreen.gif" alt="Verdant Zenith blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0108-crewmate"><img src="/b/display/0108-crewmate.gif" alt="HAPPY PRIDE!! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0107-gradientorange"><img src="/b/display/0107-gradientorange.gif" alt="Radiant Dawn blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0106-vicioussmiley"><img src="/b/display/0106-vicioussmiley.gif" alt="AT MY FUCKING LIMIT blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0105-gradientpurple"><img src="/b/display/0105-gradientpurple.gif" alt="Neon Sunset blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0104-redsnowflake"><img src="/b/display/0104-redsnowflake.gif" alt="Winter blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0103-kitty"><img src="/b/display/0103-kitty.gif" alt="too kawaii to live blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0102-rainbowchecker"><img src="/b/display/0102-rainbowchecker.gif" alt="102 blinkies!!!! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0101-ballcplyellowyellow"><img src="/b/display/0101-ballcplyellowyellow.gif" alt="me and who? (*¯ ³¯*)♡blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0100-ballcplblueblue"><img src="/b/display/0100-ballcplblueblue.gif" alt="me and who? (*^^*)♡blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0099-ballcplpinkpink"><img src="/b/display/0099-ballcplpinkpink.gif" alt="me and who? (//ω//) blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0098-ballcplpinkblue"><img src="/b/display/0098-ballcplpinkblue.gif" alt="us <3<3<3<3<3 blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0097-purple"><img src="/b/display/0097-purple.gif" alt="Sarcasm is the 1 service I offer. blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0096-blackgreen"><img src="/b/display/0096-blackgreen.gif" alt="black & green blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0095-tinycats"><img src="/b/display/0095-tinycats.gif" alt="my cat made me do it blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0094-tinycats"><img src="/b/display/0094-tinycats.gif" alt="/heart  proud cat dad  /heart blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0093-cats"><img src="/b/display/0093-cats.gif" alt="hehe just kitten!! ;3c blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0092-computerconnect"><img src="/b/display/0092-computerconnect.gif" alt="establishing connection... blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0091-bug"><img src="/b/display/0091-bug.gif" alt="bitten by the blinkie bug blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0090-flatline"><img src="/b/display/0090-flatline.gif" alt="still hanging on blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0089-kiss"><img src="/b/display/0089-kiss.gif" alt="*~ mwah!! ~* blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0084-agender"><img src="/b/display/0084-agender.gif" alt="agender pride blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0087-demisexual"><img src="/b/display/0087-demisexual.gif" alt="demisexual pride blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0083-demiromantic"><img src="/b/display/0083-demiromantic.gif" alt="demiromantic pride blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0082-aromantic"><img src="/b/display/0082-aromantic.gif" alt="aromantic pride blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0081-asexual"><img src="/b/display/0081-asexual.gif" alt="asexual pride blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0080-genderfluid"><img src="/b/display/0080-genderfluid.gif" alt="genderfluid pride blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0079-nonbinary"><img src="/b/display/0079-nonbinary.gif" alt="non-binary pride blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0078-intersex"><img src="/b/display/0078-intersex.gif" alt="intersex pride blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0077-demiboy"><img src="/b/display/0077-demiboy.gif" alt="demiboy pride blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0076-demigirl"><img src="/b/display/0076-demigirl.gif" alt="demigirl pride blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0075-demigender"><img src="/b/display/0075-demigender.gif" alt="demigender pride blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0074-pan"><img src="/b/display/0074-pan.gif" alt="pan pride blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0073-gay"><img src="/b/display/0073-gay.gif" alt="gay pride blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0072-lesbian"><img src="/b/display/0072-lesbian.gif" alt="lesbian pride blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0071-bi"><img src="/b/display/0071-bi.gif" alt="bi pride blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0023-trans-pride"><img src="/b/display/0023-trans-pride.gif" alt="this user is trains blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0014-pride"><img src="/b/display/0014-pride.gif" alt="kinda gay tbh... blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0088-cow"><img src="/b/display/0088-cow.gif" alt="happy MOO 2 U !!! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0086-dollface"><img src="/b/display/0086-dollface.gif" alt="bishoujo blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0085-dolleyes"><img src="/b/display/0085-dolleyes.gif" alt="i luv boyz! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0070-lavalamp"><img src="/b/display/0070-lavalamp.gif" alt="lava lamp blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0069-alien"><img src="/b/display/0069-alien.gif" alt="ABUCTABLE blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0068-mainframe"><img src="/b/display/0068-mainframe.gif" alt="Command ===> ___ blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0067-moonstars"><img src="/b/display/0067-moonstars.gif" alt="werewolf blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0066-orangekitty"><img src="/b/display/0066-orangekitty.gif" alt="h...hewwo??? blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0065-bunnies"><img src="/b/display/0065-bunnies.gif" alt="good night /eheart sleep tight blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0064-cow"><img src="/b/display/0064-cow.gif" alt="i Moo @ Cows blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0063-darth"><img src="/b/display/0063-darth.gif" alt="Join the Dark Side blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0062-flower"><img src="/b/display/0062-flower.gif" alt="I love gardening blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0061-pinkcomputer"><img src="/b/display/0061-pinkcomputer.gif" alt="I love my computer <3 blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0060-glitch"><img src="/b/display/0060-glitch.gif" alt="oh no...,, blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0059-greenscreen"><img src="/b/display/0059-greenscreen.gif" alt="green screen blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0058-snail"><img src="/b/display/0058-snail.gif" alt="dewdrop drinker /heart blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0057-ophiuchus"><img src="/b/display/0057-ophiuchus.gif" alt="let's play a GAME blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0056-pirate"><img src="/b/display/0056-pirate.gif" alt="You came back. blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0055-rainbowswirl"><img src="/b/display/0055-rainbowswirl.gif" alt="technicolor dreams blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0054-caution"><img src="/b/display/0054-caution.gif" alt="CAUTION blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0053-pinkchecker"><img src="/b/display/0053-pinkchecker.gif" alt="pastel luvr! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0044-hearts"><img src="/b/display/0044-hearts.gif" alt="Your Sweetness~! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0040-gemini"><img src="/b/display/0040-gemini.gif" alt="p2iioniic blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0039-staticrainbow"><img src="/b/display/0039-staticrainbow.gif" alt="MAYDAY   MAYDAY   MAYDAY   blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0037-aprilfools"><img src="/b/display/0037-aprilfools.gif" alt="APRIL FOOLS! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0038-exitbutton2"><img src="/b/display/0038-exitbutton2.gif" alt="don't like, don't read blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0036-fire"><img src="/b/display/0036-fire.gif" alt="BURN IT ALL DOWN blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0035-edgyred"><img src="/b/display/0035-edgyred.gif" alt="I literally don't care. blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0034-skull"><img src="/b/display/0034-skull.gif" alt="cyberbully blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0051-pisces"><img src="/b/display/0051-pisces.gif" alt=")(ang in t)(ere blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0052-cancer"><img src="/b/display/0052-cancer.gif" alt="YOU ARE DEAD TO ME blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0047-virgo"><img src="/b/display/0047-virgo.gif" alt="If Not Me Then Who blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0043-taurus"><img src="/b/display/0043-taurus.gif" alt="(thiS is noT cOOl,) blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0042-aries"><img src="/b/display/0042-aries.gif" alt="n0thing inside blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0033-confused"><img src="/b/display/0033-confused.gif" alt="head empty blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0032-coffeecup"><img src="/b/display/0032-coffeecup.gif" alt="need moar coffee XD blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0031-dogpaw"><img src="/b/display/0031-dogpaw.gif" alt="doggirl  rights !!  :3 blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0030-catpaw"><img src="/b/display/0030-catpaw.gif" alt="catboy  rights !!  :3 blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0029-pinksparkle"><img src="/b/display/0029-pinksparkle.gif" alt="!!! Bad Bitch !!! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0028-computer"><img src="/b/display/0028-computer.gif" alt="a computer can never be held accountable blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0050-capricorn"><img src="/b/display/0050-capricorn.gif" alt=":o) hOnK hOnK hOnK blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0049-sagittarius"><img src="/b/display/0049-sagittarius.gif" alt="D --> Disgusting blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0048-libra"><img src="/b/display/0048-libra.gif" alt="H4H4H4H4H3H3H3H3 blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0046-leo"><img src="/b/display/0046-leo.gif" alt=":33 < rawwrrrrr blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0045-scorpio"><img src="/b/display/0045-scorpio.gif" alt="Impenitent 8itch!! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0041-aquarius"><img src="/b/display/0041-aquarius.gif" alt="vvici vvidi vveni blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0027-sakura"><img src="/b/display/0027-sakura.gif" alt="サ ク  ラ blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0026-iheart2"><img src="/b/display/0026-iheart2.gif" alt="my bf blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0025-birthdaycake"><img src="/b/display/0025-birthdaycake.gif" alt="hbd ur old lmao blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0024-red"><img src="/b/display/0024-red.gif" alt="simple red blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0022-iheart"><img src="/b/display/0022-iheart.gif" alt="blinkies so much !!! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0021-vampirefangs"><img src="/b/display/0021-vampirefangs.gif" alt="Blood-Sucker blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0020-blinkiesCafe"><img src="/b/display/0020-blinkiesCafe.gif" alt="blinkies.cafe blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0019-candy"><img src="/b/display/0019-candy.gif" alt="Sweet Tooth blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0018-glitter"><img src="/b/display/0018-glitter.gif" alt="I <3 GLITTER blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0017-love"><img src="/b/display/0017-love.gif" alt="love u 4ever <3 blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0016-valentine"><img src="/b/display/0016-valentine.gif" alt="be my valentine? blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0015-exit-button"><img src="/b/display/0015-exit-button.gif" alt="too many tabs!! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0013-starryeyes"><img src="/b/display/0013-starryeyes.gif" alt="Starry Eyes! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0012-kiss"><img src="/b/display/0012-kiss.gif" alt="good kisser blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0011-frog"><img src="/b/display/0011-frog.gif" alt="frog friend blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0007-chocolate"><img src="/b/display/0007-chocolate.gif" alt="chocolate dreams blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0002-mushroom"><img src="/b/display/0002-mushroom.gif" alt="mushroom boy blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0003-ghost"><img src="/b/display/0003-ghost.gif" alt="Spooky vibes only!! blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0004-peachy"><img src="/b/display/0004-peachy.gif" alt="just peachy blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0005-citystars"><img src="/b/display/0005-citystars.gif" alt="city stars blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0001-saucer"><img src="/b/display/0001-saucer.gif" alt="crash-landed blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0006-purple"><img src="/b/display/0006-purple.gif" alt="simple purple blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0008-pink"><img src="/b/display/0008-pink.gif" alt="simple pink blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0009-gradient-pink"><img src="/b/display/0009-gradient-pink.gif" alt="gradient pink blinkie" loading="lazy" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0010-blue"><img src="/b/display/0010-blue.gif" alt="simple blue blinkie" loading="lazy" class="blinkie-wall"></a>
        </center>
    </div>
    </center>
</div>
<%- include('components/footer.html') %>
</body>
</html>
