<!DOCTYPE html>
<html lang="en">
<head>
  <title>the blinkie wall</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div id='banner' class='content'>
    blinkies.cafe
    </div>
    <div id='navbar' class='content'>
        <a href='/'>generator</a> | <a href='/blog'>blog</a> | <a href='/archive'>archive</a><br>
    </div><hr>
<div class='content'>
    <h1>the blinkie wall</h1>
</div>
<div class='content'>
    <center>
    <div id='gallery' type='text' style='position:relative; z-index:0; visibility:'>
        click a blinkie to customize c:<br>
        <center id='tiles'>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0122-hsbreath"><img src="https://blinkies.neocities.org/b/display/0122-hsbreath.gif" alt="heir of breath blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0121-blinkiescafe"><img src="https://blinkies.neocities.org/b/display/0121-blinkiescafe.gif" alt="blinkies.cafe <3 blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0120-starofdavid"><img src="https://blinkies.neocities.org/b/display/0120-starofdavid.gif" alt="Star of David blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0119-pastelstars"><img src="https://blinkies.neocities.org/b/display/0119-pastelstars.gif" alt="twinkle twinkle blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0118-rubberducky"><img src="https://blinkies.neocities.org/b/display/0118-rubberducky.gif" alt="YOU QUACK ME UP! blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0117-redlightsaber"><img src="https://blinkies.neocities.org/b/display/0117-redlightsaber.gif" alt="*SITH*   blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0116-debian"><img src="https://blinkies.neocities.org/b/display/0116-debian.gif" alt="powered by debian blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0115-alpinelinux"><img src="https://blinkies.neocities.org/b/display/0115-alpinelinux.gif" alt="runs on alpine blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0114-tbh"><img src="https://blinkies.neocities.org/b/display/0114-tbh.gif" alt="autism! blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0113-autism"><img src="https://blinkies.neocities.org/b/display/0113-autism.gif" alt="Autism! blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0112-peep"><img src="https://blinkies.neocities.org/b/display/0112-peep.gif" alt="Luv my peeps blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0111-glittergold"><img src="https://blinkies.neocities.org/b/display/0111-glittergold.gif" alt="ur Princess xoxo blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0110-yeah"><img src="https://blinkies.neocities.org/b/display/0110-yeah.gif" alt="I have social anxiety blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0109-gradientgreen"><img src="https://blinkies.neocities.org/b/display/0109-gradientgreen.gif" alt="Verdant Zenith blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0108-crewmate"><img src="https://blinkies.neocities.org/b/display/0108-crewmate.gif" alt="HAPPY PRIDE!! blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0107-gradientorange"><img src="https://blinkies.neocities.org/b/display/0107-gradientorange.gif" alt="Radiant Dawn blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0106-vicioussmiley"><img src="https://blinkies.neocities.org/b/display/0106-vicioussmiley.gif" alt="AT MY FUCKING LIMIT blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0105-gradientpurple"><img src="https://blinkies.neocities.org/b/display/0105-gradientpurple.gif" alt="Neon Sunset blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0104-redsnowflake"><img src="https://blinkies.neocities.org/b/display/0104-redsnowflake.gif" alt="Winter blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0103-kitty"><img src="https://blinkies.neocities.org/b/display/0103-kitty.gif" alt="too kawaii to live blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0102-rainbowchecker"><img src="https://blinkies.neocities.org/b/display/0102-rainbowchecker.gif" alt="102 blinkies!!!! blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0101-ballcplyellowyellow"><img src="https://blinkies.neocities.org/b/display/0101-ballcplyellowyellow.gif" alt="me and who? (*¯ ³¯*)♡blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0100-ballcplblueblue"><img src="https://blinkies.neocities.org/b/display/0100-ballcplblueblue.gif" alt="me and who? (*^^*)♡blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0099-ballcplpinkpink"><img src="https://blinkies.neocities.org/b/display/0099-ballcplpinkpink.gif" alt="me and who? (//ω//) blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0098-ballcplpinkblue"><img src="https://blinkies.neocities.org/b/display/0098-ballcplpinkblue.gif" alt="us <3<3<3<3<3 blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0097-purple"><img src="https://blinkies.neocities.org/b/display/0097-purple.gif" alt="Sarcasm is the 1 service I offer. blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0096-blackgreen"><img src="https://blinkies.neocities.org/b/display/0096-blackgreen.gif" alt="black & green blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0095-tinycats"><img src="https://blinkies.neocities.org/b/display/0095-tinycats.gif" alt="my cat made me do it blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0094-tinycats"><img src="https://blinkies.neocities.org/b/display/0094-tinycats.gif" alt="/heart  proud cat dad  /heart blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0093-cats"><img src="https://blinkies.neocities.org/b/display/0093-cats.gif" alt="hehe just kitten!! ;3c blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0092-computerconnect"><img src="https://blinkies.neocities.org/b/display/0092-computerconnect.gif" alt="establishing connection... blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0091-bug"><img src="https://blinkies.neocities.org/b/display/0091-bug.gif" alt="bitten by the blinkie bug blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0090-flatline"><img src="https://blinkies.neocities.org/b/display/0090-flatline.gif" alt="still hanging on blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0089-kiss"><img src="https://blinkies.neocities.org/b/display/0089-kiss.gif" alt="*~ mwah!! ~* blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0084-agender"><img src="https://blinkies.neocities.org/b/display/0084-agender.gif" alt="agender pride blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0087-demisexual"><img src="https://blinkies.neocities.org/b/display/0087-demisexual.gif" alt="demisexual pride blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0083-demiromantic"><img src="https://blinkies.neocities.org/b/display/0083-demiromantic.gif" alt="demiromantic pride blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0082-aromantic"><img src="https://blinkies.neocities.org/b/display/0082-aromantic.gif" alt="aromantic pride blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0081-asexual"><img src="https://blinkies.neocities.org/b/display/0081-asexual.gif" alt="asexual pride blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0080-genderfluid"><img src="https://blinkies.neocities.org/b/display/0080-genderfluid.gif" alt="genderfluid pride blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0079-nonbinary"><img src="https://blinkies.neocities.org/b/display/0079-nonbinary.gif" alt="non-binary pride blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0078-intersex"><img src="https://blinkies.neocities.org/b/display/0078-intersex.gif" alt="intersex pride blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0077-demiboy"><img src="https://blinkies.neocities.org/b/display/0077-demiboy.gif" alt="demiboy pride blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0076-demigirl"><img src="https://blinkies.neocities.org/b/display/0076-demigirl.gif" alt="demigirl pride blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0075-demigender"><img src="https://blinkies.neocities.org/b/display/0075-demigender.gif" alt="demigender pride blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0074-pan"><img src="https://blinkies.neocities.org/b/display/0074-pan.gif" alt="pan pride blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0073-gay"><img src="https://blinkies.neocities.org/b/display/0073-gay.gif" alt="gay pride blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0072-lesbian"><img src="https://blinkies.neocities.org/b/display/0072-lesbian.gif" alt="lesbian pride blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0071-bi"><img src="https://blinkies.neocities.org/b/display/0071-bi.gif" alt="bi pride blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0023-trans-pride"><img src="https://blinkies.neocities.org/b/display/0023-trans-pride.gif" alt="this user is trains blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0014-pride"><img src="https://blinkies.neocities.org/b/display/0014-pride.gif" alt="kinda gay tbh... blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0088-cow"><img src="https://blinkies.neocities.org/b/display/0088-cow.gif" alt="happy MOO 2 U !!! blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0086-dollface"><img src="https://blinkies.neocities.org/b/display/0086-dollface.gif" alt="bishoujo blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0085-dolleyes"><img src="https://blinkies.neocities.org/b/display/0085-dolleyes.gif" alt="i luv boyz! blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0070-lavalamp"><img src="https://blinkies.neocities.org/b/display/0070-lavalamp.gif" alt="lava lamp blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0069-alien"><img src="https://blinkies.neocities.org/b/display/0069-alien.gif" alt="ABUCTABLE blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0068-mainframe"><img src="https://blinkies.neocities.org/b/display/0068-mainframe.gif" alt="Command ===> ___ blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0067-moonstars"><img src="https://blinkies.neocities.org/b/display/0067-moonstars.gif" alt="werewolf blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0066-orangekitty"><img src="https://blinkies.neocities.org/b/display/0066-orangekitty.gif" alt="h...hewwo??? blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0065-bunnies"><img src="https://blinkies.neocities.org/b/display/0065-bunnies.gif" alt="good night /eheart sleep tight blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0064-cow"><img src="https://blinkies.neocities.org/b/display/0064-cow.gif" alt="i Moo @ Cows blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0063-darth"><img src="https://blinkies.neocities.org/b/display/0063-darth.gif" alt="Join the Dark Side blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0062-flower"><img src="https://blinkies.neocities.org/b/display/0062-flower.gif" alt="I love gardening blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0061-pinkcomputer"><img src="https://blinkies.neocities.org/b/display/0061-pinkcomputer.gif" alt="I love my computer <3 blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0060-glitch"><img src="https://blinkies.neocities.org/b/display/0060-glitch.gif" alt="oh no...,, blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0059-greenscreen"><img src="https://blinkies.neocities.org/b/display/0059-greenscreen.gif" alt="green screen blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0058-snail"><img src="https://blinkies.neocities.org/b/display/0058-snail.gif" alt="dewdrop drinker /heart blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0057-ophiuchus"><img src="https://blinkies.neocities.org/b/display/0057-ophiuchus.gif" alt="let's play a GAME blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0056-pirate"><img src="https://blinkies.neocities.org/b/display/0056-pirate.gif" alt="You came back. blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0055-rainbowswirl"><img src="https://blinkies.neocities.org/b/display/0055-rainbowswirl.gif" alt="technicolor dreams blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0054-caution"><img src="https://blinkies.neocities.org/b/display/0054-caution.gif" alt="CAUTION blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0053-pinkchecker"><img src="https://blinkies.neocities.org/b/display/0053-pinkchecker.gif" alt="pastel luvr! blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0044-hearts"><img src="https://blinkies.neocities.org/b/display/0044-hearts.gif" alt="Your Sweetness~! blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0040-gemini"><img src="https://blinkies.neocities.org/b/display/0040-gemini.gif" alt="p2iioniic blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0039-staticrainbow"><img src="https://blinkies.neocities.org/b/display/0039-staticrainbow.gif" alt="MAYDAY   MAYDAY   MAYDAY   blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0037-aprilfools"><img src="https://blinkies.neocities.org/b/display/0037-aprilfools.gif" alt="APRIL FOOLS! blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0038-exitbutton2"><img src="https://blinkies.neocities.org/b/display/0038-exitbutton2.gif" alt="don't like, don't read blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0036-fire"><img src="https://blinkies.neocities.org/b/display/0036-fire.gif" alt="BURN IT ALL DOWN blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0035-edgyred"><img src="https://blinkies.neocities.org/b/display/0035-edgyred.gif" alt="I literally don't care. blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0034-skull"><img src="https://blinkies.neocities.org/b/display/0034-skull.gif" alt="cyberbully blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0051-pisces"><img src="https://blinkies.neocities.org/b/display/0051-pisces.gif" alt=")(ang in t)(ere blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0052-cancer"><img src="https://blinkies.neocities.org/b/display/0052-cancer.gif" alt="YOU ARE DEAD TO ME blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0047-virgo"><img src="https://blinkies.neocities.org/b/display/0047-virgo.gif" alt="If Not Me Then Who blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0043-taurus"><img src="https://blinkies.neocities.org/b/display/0043-taurus.gif" alt="(thiS is noT cOOl,) blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0042-aries"><img src="https://blinkies.neocities.org/b/display/0042-aries.gif" alt="n0thing inside blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0033-confused"><img src="https://blinkies.neocities.org/b/display/0033-confused.gif" alt="head empty blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0032-coffeecup"><img src="https://blinkies.neocities.org/b/display/0032-coffeecup.gif" alt="need moar coffee XD blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0031-dogpaw"><img src="https://blinkies.neocities.org/b/display/0031-dogpaw.gif" alt="doggirl  rights !!  :3 blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0030-catpaw"><img src="https://blinkies.neocities.org/b/display/0030-catpaw.gif" alt="catboy  rights !!  :3 blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0029-pinksparkle"><img src="https://blinkies.neocities.org/b/display/0029-pinksparkle.gif" alt="!!! Bad Bitch !!! blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0028-computer"><img src="https://blinkies.neocities.org/b/display/0028-computer.gif" alt="a computer can never be held accountable blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0050-capricorn"><img src="https://blinkies.neocities.org/b/display/0050-capricorn.gif" alt=":o) hOnK hOnK hOnK blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0049-sagittarius"><img src="https://blinkies.neocities.org/b/display/0049-sagittarius.gif" alt="D --> Disgusting blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0048-libra"><img src="https://blinkies.neocities.org/b/display/0048-libra.gif" alt="H4H4H4H4H3H3H3H3 blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0046-leo"><img src="https://blinkies.neocities.org/b/display/0046-leo.gif" alt=":33 < rawwrrrrr blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0045-scorpio"><img src="https://blinkies.neocities.org/b/display/0045-scorpio.gif" alt="Impenitent 8itch!! blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0041-aquarius"><img src="https://blinkies.neocities.org/b/display/0041-aquarius.gif" alt="vvici vvidi vveni blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0027-sakura"><img src="https://blinkies.neocities.org/b/display/0027-sakura.gif" alt="サ ク  ラ blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0026-iheart2"><img src="https://blinkies.neocities.org/b/display/0026-iheart2.gif" alt="my bf blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0025-birthdaycake"><img src="https://blinkies.neocities.org/b/display/0025-birthdaycake.gif" alt="hbd ur old lmao blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0024-red"><img src="https://blinkies.neocities.org/b/display/0024-red.gif" alt="simple red blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0022-iheart"><img src="https://blinkies.neocities.org/b/display/0022-iheart.gif" alt="blinkies so much !!! blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0021-vampirefangs"><img src="https://blinkies.neocities.org/b/display/0021-vampirefangs.gif" alt="Blood-Sucker blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0020-blinkiesCafe"><img src="https://blinkies.neocities.org/b/display/0020-blinkiesCafe.gif" alt="blinkies.cafe blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0019-candy"><img src="https://blinkies.neocities.org/b/display/0019-candy.gif" alt="Sweet Tooth blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0018-glitter"><img src="https://blinkies.neocities.org/b/display/0018-glitter.gif" alt="I <3 GLITTER blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0017-love"><img src="https://blinkies.neocities.org/b/display/0017-love.gif" alt="love u 4ever <3 blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0016-valentine"><img src="https://blinkies.neocities.org/b/display/0016-valentine.gif" alt="be my valentine? blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0015-exit-button"><img src="https://blinkies.neocities.org/b/display/0015-exit-button.gif" alt="too many tabs!! blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0013-starryeyes"><img src="https://blinkies.neocities.org/b/display/0013-starryeyes.gif" alt="Starry Eyes! blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0012-kiss"><img src="https://blinkies.neocities.org/b/display/0012-kiss.gif" alt="good kisser blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0011-frog"><img src="https://blinkies.neocities.org/b/display/0011-frog.gif" alt="frog friend blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0007-chocolate"><img src="https://blinkies.neocities.org/b/display/0007-chocolate.gif" alt="chocolate dreams blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0002-mushroom"><img src="https://blinkies.neocities.org/b/display/0002-mushroom.gif" alt="mushroom boy blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0003-ghost"><img src="https://blinkies.neocities.org/b/display/0003-ghost.gif" alt="Spooky vibes only!! blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0004-peachy"><img src="https://blinkies.neocities.org/b/display/0004-peachy.gif" alt="just peachy blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0005-citystars"><img src="https://blinkies.neocities.org/b/display/0005-citystars.gif" alt="city stars blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0001-saucer"><img src="https://blinkies.neocities.org/b/display/0001-saucer.gif" alt="crash-landed blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0006-purple"><img src="https://blinkies.neocities.org/b/display/0006-purple.gif" alt="simple purple blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0008-pink"><img src="https://blinkies.neocities.org/b/display/0008-pink.gif" alt="simple pink blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0009-gradient-pink"><img src="https://blinkies.neocities.org/b/display/0009-gradient-pink.gif" alt="gradient pink blinkie" class="blinkie-wall"></a>
            <a rel="nofollow" href="https://blinkies.cafe/?s=0010-blue"><img src="https://blinkies.neocities.org/b/display/0010-blue.gif" alt="simple blue blinkie" class="blinkie-wall"></a>
        </center>
    </div>
    </center>
</div>
<%- include('components/footer.html') %>
</body>
</html>
