<!DOCTYPE html>
<html lang="en">
<head>
  <title>blinkies.cafe template releases are changing! | the blinkie blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='description' content='We have opened up submissions, and future templates will be released in Blinkie Packs of ~9-18 each.'>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="canonical" href="https://blinkies.cafe/blog/2022-12-18-blinkie-packs">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta name="theme-color" content="#4e3075">
</head>
<body>
    <div id='banner' class='content'>
    blinkies.cafe
    </div>
    <div id='navbar' class='content'>
        <a href='/'>generator</a> | blog | <a href='/archive'>archive</a><br>
    </div><hr>
    <div class='content'>
        <h1 style='text-align:left;'><a href='/blog'>blog</a> &gt; blinkies.cafe template releases are changing!</h1>
    </div>
    <div class='blogContent'>
        <p>We are changing the way we add new blinkie templates to blinkies.cafe!!
            <ul>
                <li><b>We have opened up blinkie template submissions!!</b> Fill out the <a href="https://docs.google.com/forms/d/e/1FAIpQLSdYM54LMugz_ps5OkoxuUX-LCl5MQ-y9_mox6Jgd9x8uTRCZA/viewform?usp=sf_link" target="_blank">submission form</a> to submit a blank template you’ve made.</li>
                <li>We are changing our blinkie template release schedule. <b>Going forwards, new templates will be released in themed Blinkie Packs (~9-18 templates each).</b> We will announce the theme of the next Blinkie Pack several weeks in advance on <a href="https://graphics-cafe.tumblr.com/tagged/blinkies.cafe%20news" target="_blank">Tumblr</a> and in our <a href="https://discord.gg/GFV2S6crRR" target="_blank">Discord Server</a>, and submissions fitting the theme will be prioritized!</li>
            </ul>
        </p><br>
        <p>This means that planning and creating blinkie templates will become a community effort, with lots of opportunities to have your templates featured on blinkies.cafe. So we’ve made a <a href="https://discord.gg/GFV2S6crRR" target="_blank">blinkies.cafe Discord Server</a> for people to chat about blinkies! Feel free to join, especially if you’re interested in submitting templates. The Discord server is the main platform where we’ll be communicating with submitters re: their templates & future Blinkie Packs.</p><br>
    </div>
    <hr>
    <div class='blogContent'>
        <h2>some personal details</h2><br>
        <p>I started blinkies.cafe on October 15, 2021. There aren’t a lot of other blinkie generators on the Web, and I wanted to fill that gap by making a new one with more modern features & design. blinkies.cafe was a very small, experimental, and personal project. I made it my goal to add at least one template per week, because:
            <ul>
                <li>I wanted to build up a decent library of templates. Since I was the only one working on the project, weekly templates kept me progressing steadily towards that goal. I didn’t have much contact with old-web communities on Tumblr & Neocities and I wasn’t aware of anyone else that actively created blinkies.</li>
                <li>I enjoyed the balance between the more-technical coding and less-technical gif editing. Often I found I didn’t have the energy for a coding session, but I did have energy to make a blinkie or two.</li>
            </ul>
        </p><br>
        <p>Now, more than a year later, blinkies.cafe is in a very different situation.
            <ul>
                <li>Lots of people are making really cool custom blinkies on Tumblr.</li>
                <li>Many blinkie creators are interested in having me publish their blinkies as customizable templates on blinkies.cafe. Usually they are more skilled artists than I am, and they produce higher-quality blinkies at a faster rate than me.</li>
                <li>Thanks to these creators – @transbro, @proxyrse, @pawpr1nc3 – we have 236 (!!!) customizable templates in our collection as of Dec 18 2022.</li>
            </ul>    
        </p><br>
        <p>Basically, the project has matured a lot. We have a pretty hefty library of templates, and I spend more time processing submissions from other creators than making my own, so I no longer feel like I have to commit to weekly template releases to keep the project going.</p><br>
        <p>Also, my personal & professional life is changing a lot – I have a career that excites me, relationships I care about, and I’m finally starting to catch up on a huge backlog of Adult Stuff I had been neglecting. This all translates to a very busy schedule, and the specific requirement to publish new blinkies each week has often conflicted with my other personal responsibilities.</p><br>
        <p>I think the new release schedule with larger, less-frequent Blinkie Packs will be really good.
            <ul>
                <li>It’ll be fun to collaborate on larger packs of themed templates as a community!</li>
                <li>I’ll be able to plan the releases to correspond with relevant dates.</li>
                <li>I’ll have more freedom to plan & work on adding templates in a way that suits my personal schedule.</li>
            </ul>
        </p><br>
        <p>So I’m really looking forward to it!!! Thanks for reading this far &lt;3</p><br>
        <p>&#126; Amy</p>
    </div>
<%- include(global.appRoot + '/views/pages/components/footer.html') %>
</body>
</html>
