<!DOCTYPE html>
<html lang="en">
<head>
  <title>Recent Blinkies Feed out now! | the blinkie blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='description' content='Added a live feed of recently generated blinkies!'>
  <link rel="canonical" href="https://blinkies.cafe/blog/2022-05-14-how-to-make-blinkies">
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div id='banner' class='content'>
    blinkies.cafe
    </div>
    <div id='navbar' class='content'>
        <a href='/'>generator</a> | blog | <a href='/archive'>archive</a><br>
    </div><hr>
<div class='content'>
    <h1 style='text-align:left;'><a href='/blog'>blog</a> &gt; Recent Blinkies Feed out now!</h1>
</div>
<div class='blogContent'>
    This past Saturday (2022-06-04) I finally opened up a <a href='/feed'>feed of recent blinkies</a> made by the <a href='/'>blinkie maker</a>. It was actually a very simple feature from a programming perspective! I could have done it much sooner but I was worried I wouldn't be able to moderate the feed.<br><br>
    I think I was more cautious than I needed to be. The feed is so fun to watch! I think this is blinkies.cafe's True Form, and it makes me so happy. I might even reorganize the site a bit to make the feed more central.<br><br>
    <center class='smalltext'>
        <img src='2022-06-06-recent-blinkies-feed/blinkiefeed-2022-06-03-500x170.gif' alt='collection of blinkies generated on June 4 2022, from the feed'><br>
        recording of the <a href='/feed'>feed</a> showing blinkies generated on June 4 2022!
    </center><br>
    As always, I can't wait to see what people make!!! I might post more feed recordings on <a href='https://graphics-cafe.tumblr.com/'>tumblr</a> :D
</div>
<%- include(global.appRoot + '/views/pages/components/footer.html') %>
</body>
</html>
