<%- include(global.appRoot + '/views/pages/components/head.ejs', {
    path: "blog/2022-05-14-how-to-make-blinkies",
    title: "How to Make Blinkies in Paint | the blinkie blog",
    description: "How to make blinkies from (almost) scratch! All you need is MS paint or any other paint app."
})%>
<div class='content'>
    <h1 style='text-align:left;'><a href='/blog'>blog</a> &gt; How to Make Blinkies in Paint</h1>
</div>
<div class='archiveContent'>
    This is a tutorial on how to make blinkies. To keep it concise &amp; accessible, this article only covers simple two-frame blinkies. I may write guides/tips on more advanced techniques in the future!<br><br>
    Note: In this tutorial I use <a href='https://apps.kde.org/kolourpaint/' target="_blank" rel="noopener">Kolourpaint</a>, but MS paint has all the same tools!<br><br>

    <ol>
    <li>Start with a blank blinkie template like this one:<br>
        <img src='2022-05-14-how-to-make-blinkies/blank-pink-0.png' alt='pink blinkie frame template' style='width:150px;height:20px;'>
    </li><br>

    <li>Let's say you wanna make a green blinkie. In your fav paint app, floodfill the border and inside background with different shades of green:<br>
        <img src='2022-05-14-how-to-make-blinkies/floodfill.png' alt='floodfill blinkie border and background' style='width:529px;height:142px;'>
    </li><br>

    <li>Then use the floodfill tool to recolour the pips around the border:<br>
        <img src='2022-05-14-how-to-make-blinkies/pips-0.png' alt='manually recolour pips around the blinkie border' style='width:529px;height:142px;'><br>
        This can be pretty tedious, so you can save time by copy/pasting a section of recoloured pips:
        <img src='2022-05-14-how-to-make-blinkies/copy-0.png' alt='select and copy a section of recoloured pips' style='width:529px;height:142px;'><br>
        <img src='2022-05-14-how-to-make-blinkies/copy-1.png' alt='paste and position the section of recoloured pips' style='width:529px;height:142px;'><br>
        <img src='2022-05-14-how-to-make-blinkies/copy-2.png' alt='position the recoloured pips' style='width:529px;height:142px;'><br>
    </li><br>

    <li>Repeat until all your pips are the colours you want! Your <b>first frame background</b> is complete, so save it!<br>
        <img src='2022-05-14-how-to-make-blinkies/blank-green-0.png' alt='green blinkie background - first frame' style='width:150px;height:20px;'><br>
    </li><br>

    <li>Make a copy of your first frame. This copy will be your second frame. Flip it <i>both</i> horizontally <i>and</i> vertically:
        <img src='2022-05-14-how-to-make-blinkies/flip-0.png' alt='flip the first frame both horizontally and vertically to get the second frame' style='width:529px;height:165;'><br>
        Your <b>second frame background</b> is complete, so save it!<br>
        <img src='2022-05-14-how-to-make-blinkies/blank-green-1.png' alt='green blinkie background - second frame' style='width:150px;height:20px;'><br>
    </li><br>

    <li>Next, go back to your first frame and write/draw whatever you want:<br>
        <img src='2022-05-14-how-to-make-blinkies/draw-0.png' alt='draw anything on the first blinkie frame' style='width:529px;height:142px;'><br>
        Your <b>finished first frame</b> is complete, so save it!<br>
        <img src='2022-05-14-how-to-make-blinkies/finished-green-0.png' alt='green blinkie - first frame complete' style='width:150px;height:20px;'><br>
    </li><br>

    <li>Copy/paste everything inside the border:<br>
        <img src='2022-05-14-how-to-make-blinkies/draw-1.png' alt='copy the drawing from the first frame to the second frame' style='width:529px;height:142px;'><br>
        Paste it to the second frame. Your <b>finished second frame</b> is complete, so save it!<br>
        <img src='2022-05-14-how-to-make-blinkies/finished-green-1.png' alt='green blinkie - second frame complete' style='width:150px;height:20px;'><br>
    </li><br>

    <li>Finally, combine your frames into a gif. The <a href='https://ezgif.com/maker' target='_blank' rel='noopener'>Ezgif gif maker</a> is easy to use -- just upload your finished frames, click "Make a GIF!", and download your blinkie!<br>
        <img src='2022-05-14-how-to-make-blinkies/finished.gif' alt='green blinkie - finished!' style='width:150px;height:20px;'><br>
    </li><br>
    </ol>
</div>
<%- include(global.appRoot + '/views/pages/components/footer.html') %>
