<!DOCTYPE html>
<html lang="en">
<head>
    <title>hidden symbols in pixel fonts | the blinkie blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='description' content='how to use hidden symbol characters in the blinkies.cafe pixel fonts!'>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="canonical" href="https://blinkies.cafe/blog/2022-10-29-pixel-font-symbols">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <meta name="theme-color" content="#4e3075">
</head>
<body>
    <div id='banner' class='content'>
    blinkies.cafe
    </div>
    <div id='navbar' class='content'>
        <a href='/'>generator</a> | blog | <a href='/archive'>archive</a><br>
    </div><hr>

    <!-- edit below this line -->

		<div class='content'>
    		<h1 style='text-align:left;'><a href='/blog'>blog</a> &gt; Hidden symbols in blinkies.cafe fonts!</h1>
		</div>

		<div class='blogContent'>
            <p>
                <span style='margin-left:1em'>Lots of pixel fonts have hidden symbols in them! Here are the special symbols in blinkies.cafe generator (that are not in the emoji drop down list) Below will list some examples including the font you need to pick and the text you need to copy.</span>
            </p><br>
            <h2 style="text-align:left;">Font: <a href="https://www.dafont.com/pixelpoiiz.font" target="_blank"> <strong>Pixel Poiiz</strong></a></h2>
            <table>
                <tr>
                    <td>example blinkie</td>
                    <td>example text</td>
                </tr>
                <tr>
                    <td><img src="/blog/2022-10-29-pixel-font-symbols/example1.gif"style='width:150px; height:20px;' alt="pixelpoiiz font symbols blinkie">&nbsp;&nbsp;</td>
                    <td><strong>0 & . % $</strong></td>
                </tr>
            </table><br>
            <h2 style="text-align:left;">Font: <a href="https://www.dafont.com/rainyhearts.font" target="_blank"><strong>Rainy Hearts</strong></a></h2>
            <table>
                <tr>
                    <td>example blinkie</td>
                    <td>example text</td>
                </tr>
                <tr>
                    <td><img src="/blog/2022-10-29-pixel-font-symbols/example2.gif"style='width:150px; height:20px;' alt="rainyhearts font symbols blinkie">&nbsp;&nbsp;</td>
                    <td><p><strong>¢€£¥¤¿</strong></p></td>
                </tr><tr>
                    <td><img src="/blog/2022-10-29-pixel-font-symbols/example3.gif"style='width:150px; height:20px;' alt="rainyhearts font symbols blinkie">&nbsp;&nbsp;</td>
                    <td><strong>Œœ</strong></td>
                </tr>
            </table><br>
            <h2 style="text-align:left;">Font: <a href="https://www.dafont.com/hydrating-lip.font" target="_blank"><strong> Hydratinglip</strong></a></h2>
            <table>
                <tr>
                    <td>example blinkie</td>
                    <td>example text</td>
                </tr>
                <tr>
                    <td><img src="/blog/2022-10-29-pixel-font-symbols/example7.gif"style='width:150px; height:20px;' alt="hydratinglip font symbols blinkie">&nbsp;&nbsp;</td>
                    <td><strong>@ % &</strong></td>
                </tr>
            </table><br>
            <h2 style="text-align:left;">Font:  <a href="https://www.dafont.com/pixelflag.font" target="_blank"><strong>Pixel Flag</strong></a></h2>
            <table>
                <tr>
                    <td>example blinkie</td>
                    <td>example text</td>
                </tr>
                <tr>
                    <td><img src="/blog/2022-10-29-pixel-font-symbols/example4.gif"style='width:150px; height:20px;' alt="pixelflag font symbols blinkie">&nbsp;&nbsp;</td>
                    <td><strong>{Blinkies|Cafe}</strong></td>
                </tr><tr>
                    <td><img src="/blog/2022-10-29-pixel-font-symbols/example5.gif"style='width:150px; height:20px;' alt="pixelflag font symbols blinkie">&nbsp;&nbsp;</td>
                        <td><strong>&lt;Box Squares&gt;</strong></td>
                </tr>
                <tr>
                    <td><img src="/blog/2022-10-29-pixel-font-symbols/example6.gif"style='width:150px; height:20px;' alt="pixelflag font symbols blinkie">&nbsp;&nbsp;</td>
                    <td><strong>[In A Box]</strong></td>
                <tr>
                    <td><img src="/blog/2022-10-29-pixel-font-symbols/example8.gif"style='width:150px; height:20px;' alt="pixelflag font symbols blinkie">&nbsp;&nbsp;</td>
                    <td><strong>(Pill Shape)</strong></td>
                </tr>
                <tr>
                    <td>all symbols</td>
                    <td><strong> { | } &lt;&gt; [ ] ( )</strong></td>
                </tr>
            </table>
		</div>
		<div class='blogContent'>
            <h2>About the Author:</h2>
            <p><span style='margin-left:1em'>Hi! Anakin chiming in, this is my first blog post on blinkies.cafe but you might have seen me before with my <a href="https://blinkies.cafe/?t=anakin">templates</a>! I've been meaning to make a blog post here for a while and finally learned <del>enough</del> html to write this out. <sub>thank you amy &lt;3</sub> and I hope to write more helpful blog posts like this atleast once a month, so check back at <a href="https://blinkies.cafe/blog">blinkies.cafe/blog</a> for more helpful blinkie tips!</span></p>
            <img src="/blog/2022-10-29-pixel-font-symbols/example12.gif"style='width:150px; height: 20x;' alt="thanks for reading blinkie">
            <img src="/blog/2022-10-29-pixel-font-symbols/example10.gif"style='width:150px; height: 20x;' alt="keep swimming blinkie">
            <img src="/blog/2022-10-29-pixel-font-symbols/example9.gif"style='width:150px; height: 20x;' alt="have fun blinkie">
            <img src="/blog/2022-10-29-pixel-font-symbols/example11.gif"style='width:150px; height: 20x;' alt="or dont idk blinkie">
        </div>
<%- include(global.appRoot + '/views/pages/components/footer.html') %>
</body>
